.menu {
  position: relative;

  & a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: @text-color-light;
    font-size: 16px;
    transition: @transition;
    padding: 3px 16px;

    @media (min-width: @min-sm) {
      font-size: 18px;
    }

    &::after {
      content: "";
      display: block;
      width: 0;
      border-bottom: 2px solid @text-color-light;
      position: absolute;
      transition: @transition;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

  & .menu-item.active a,
  & .menu-item a:hover {

    &::after {
      width: calc(100% - 20px);
    }
  }

  & .menu-item a:focus,
  & .menu-item a:active {
    opacity: 0.7;
    outline-color: rgba(@text-color-light, 0.8);
  }
}

.top-menu {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .menu-list {
    display: flex;
    align-items: baseline
  }

  & a {
    text-transform: uppercase;
    display: inline-block;
  }
}
