<!-- <div hidden> -->
<!-- <div class="popup-contact popup-contact--dark"> -->
<form action="#" class="popup__form">

  <h2>Ваше сообщение</h2>

  <label class="visually-hidden" for="name">Введите имя</label>
  <input type="text" id="name" name="name" class="popup__input-text" placeholder="Введите имя">

  <label class="visually-hidden" for="email">Введите Email для обратной связи</label>
  <input type="email" id="email" name="email" class="popup__input-text" placeholder="Введите Email">

  <label class="visually-hidden" for="comment">Ваше сообщение</label>
  <textarea name="comment" id="comment" class="popup__input-text popup__input-textarea"
    placeholder="Ваше сообщение"></textarea>

  <button class="popup__btn" type="submit">Отправить</button>

  <button type="button" class="popup__close"></button>
</form>
<!-- </div> -->
<!-- </div> -->