
.bg_canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: #03010a;
  background-image: radial-gradient(circle at 50% 99%, #151531, #03010a);
}
// custom tags
body {
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

img {
  max-width: 100%;
}

main {
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
}

section {
  position: relative;
  padding: 100px 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// \custom tags

// all class

.list-rezet {
  margin: 0;
  padding: 0;
  list-style: none;
  & li {
    margin: 0;
    padding: 0;
  }
}

// \ all class