.bg_canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: #03010a;
  background-image: radial-gradient(circle at 50% 99%, #151531, #03010a);
}

// custom tags
body {
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

p {
  font-weight: lighter;
}

img {
  max-width: 100%;
}

main {
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
}

section {
  position: relative;
  padding: 100px 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // &::before,
  // &::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   width: 100%;
  // }

  // &::before {
  //   border-top: 1px solid rgb(255, 255, 255);
  //   top: 0;
  // }

  // &::after {
  //   border-bottom: 1px solid rgb(131, 25, 25);
  //   bottom: 0;
  // }
}

h1 {
  margin: 0;
  padding: 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 7.2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;

  @media (min-width: @min-sm) {
    font-size: 6.5vw;
  }

  @media (min-width: @min-md) {
    font-size: 50px;
  }
}

section:first-child h2 {
  @media (max-width: @min-sm) {
    font-size: 4.4vw;
  }
}

h2 {
  margin: 0;
  padding: 1em 0 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 7w;

  @media (min-width: @min-sm) {
    font-size: 4vw;
  }

  @media (min-width: @min-md) {
    font-size: 31px;
  }
}

// \custom tags

// all class

.list-rezet {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    margin: 0;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

// \ all class

// анимация заголовков на первом экране

body {
  overflow-x: hidden;
}

h1.main_wow {
  animation: h1 @transition;
}

@keyframes h1 {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

h2.main_wow {
  animation: h2 1.5*@transition;
}

@keyframes h2 {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

button.main_wow {
  animation: button 2*@transition;
}

@keyframes button {
  0% {
    opacity: 0;
    transform: translateY(9000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// \анимация заголовков на первом экране