// colors
@bg-color-light: #F0F0F2;
@bg-color-dark: lighten(#77D9D9, 11%);
@button-color: #f6ed65;
@text-color-light: darken(#A68B03, 11%);
@text-color-dark: #594302; 

// min-resolution
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// @media
// min-width/max-width
@min-sm: 576px;
@max-sm: 575px;

@max-md: 767px;
@min-md: 768px;

@max-lg: 989px;
@min-lg: 990px;

@max-xl: 1200px;
@min-xl: 1201px;
